extends ../layout
block content
    .row
        .col-md-12
            form(action='', method='post')
                .form-group
                   h3 本周值日生： #{duty.name}
                .form-group
                    label 选择奖励人员
                    select.form-control.input-sm(name='awarduser')
                        option(value='') 请选择
                        - each user in users
                            option(value='#{user._id}')
                                | #{user.name}

                .form-group
                    label 奖励原因
                    textarea.form-control(name='reason', rows='20', style='background-color: #fff; border: none;')
                .form-group
                    label 奖励金额 (只能输入数字，单位：元)
                    input.form-control(type="Number", name="award")
                input(type='hidden', name='_csrf', value='#{token}')
                button.btn.btn-primary(type='submit') 提交
    script#J_tmpl_gallery_item(type='x-tmpl-mustache')
        .gallery-item
            img.gallery-image(src='{{url}}')
            input(type='hidden', name='gallery[]', value='{{id}}')
            a.gallery-remove.J_del(href='')
                span.fa.fa-times-circle

block foot-js

    script(src='//cdn.jsdelivr.net/jquery.fileupload/9.9.0/js/vendor/jquery.ui.widget.js')
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function () {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("处理中...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: '发布成功',
                            hideAfter: 3,
                            type: 'success'
                        });
                        $form[0].reset();
                        $('#J_gallery').empty();
                    } else {
                        messenger.update({
                            message: '发布失败',
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function() {
                    console.log('error')
                    messenger.update({
                        message: '系统繁忙',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })
        });

